<script>
export default {
  name: "ListItem",
  props: {
    completed: {},
    text: {},
    taskId: {}
  },
  methods: {
    change(value) {
      this.$emit('change-completed', value);
    }
  }
}
</script>

<template>
  <div :id="`task-${taskId}`" :class="[completed ? 'has-background-info' : 'has-background-info-light']"
       class="p-2 is-flex is-justify-content-space-between">
    <div>{{ text || '-' }}</div>

    <b-checkbox :model-value="completed" @change="change"/>
  </div>
</template>

<style scoped>

</style>