<template>

  <div class="container">

    <div class="is-flex">
      <b-field class="is-flex-grow-1">
        <b-input ref="input" type="text" v-model="newTaskText" @keydown.enter="addTask"/>
      </b-field>

      <b-button type="is-primary" @click="addTask">+</b-button>
    </div>

    <div>

      <template v-for="task in tasks" :key="task.id">

        <list-item
            :text="task.text"
            :completed="task.completed"
            :task-id="task.id"
            @change-completed="changeCompleted($event, task.id)"
        />

      </template>

    </div>

  </div>


</template>

<script>
import ListItem from "@/components/ListItem.vue";
import {mapState} from 'vuex'

export default {
  name: 'App',
  components: {ListItem},
  data: () => ({
    newTaskText: ''
  }),
  computed: {
    ...mapState(['tasks'])
  },
  methods: {
    addTask() {
      if (this.newTaskText === '') return

      const task = {
        id: this.tasks.length + 1,
        text: this.newTaskText,
        created: Date.now(),
        completed: false
      }

      this.tasks.push(task)

      this.newTaskText = ''
      this.$refs.input.focus()
    },
    changeCompleted(value, id) {
      this.$store.commit('setCompletedTasks', {id, completed: value.target.checked})
    }
  },
  watch: {
    tasks:{
      deep: true,
      handler: function() {
          this.$store.dispatch('saveToLocaleStore')
      }
    },
    // tasks() {
    //   console.log(1)
    //   this.$store.dispatch('saveToLocaleStore')
    // }
  }
}
</script>

<style></style>
